{% extends 'blog/base.html' %}
{% load markdownify %}

{% block title%}My Draft Blog{% endblock %}

{% block content %}              
    {% for post in posts %}
        <div class="post">
            <div class="date">
                <p>Created: {{ post.date_created}}</p>
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <!--truncatechars:50 option interferred with markdown, syntax, highlight -->
            <p>{{ post.text|markdown|safe|linebreaksbr }}</p>
        </div>
    {% endfor %} 
{% endblock %}