{% extends 'blog/base.html' %}
{% load markdownify %}

{% block title%} {{post.title}} {% endblock %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                <p>Published: {{ post.published_date }}</p>
            </div> 
        {% else %}
            <a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-primary">Publish</a>
        {% endif %}

        {% if user.is_authenticated %}  
        
            <!--Edit blog post-->
            <a href="{% url 'post_edit' pk=post.pk %}"><i class="fas fa-edit fa-2x" sytle="color: #339af0"></i></a> 

            <!--Delete blog post and all associated comments-->
            <a href="{% url 'post_delete' pk=post.pk %}"
                onclick="return confirm('Are you sure you want to delete this post?')">
                <i class="fas fa-trash-alt fa-2x" style="color: red"></i>
            </a>
        {% endif %}

        <h1>{{ post.title }}</h1>
        <p>{{ post.text|markdown|safe|linebreaksbr }}</p> 
    </div>  

    <hr>
    <a href="{% url 'add_comment_to_post' pk=post.pk %}" class="btn btn-secondary">Add Comment</a>
    <!--Use related_name "comments" to get all comments-->
    <!--Post.objects.get(pk=1).comments.all()-->
    {% for comment in post.comments.all %}

        {% if user.is_authenticated or comment.approved %}
            <div class="comment">
                <div class="date">
                    {{ comment.created_date }}
                </div>

                {% if not comment.approved and user.is_superuser %}
                    <a href="{% url 'comment_approve' pk=comment.pk %}"><i class="fas fa-vote-yea"></i></a>
                    <a href="{% url 'comment_remove' pk=comment.pk %}"><i class="fas fa-trash-alt" style="color: red"></i></a>
                {% endif %} 
                
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|markdown|safe|linebreaksbr }}</p>
            </div>
            {% endif %}

        {% empty %}
            <p>0 Comments</p>

    {% endfor%}

{% endblock %}
